<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"
</head>
<body>
    <nav>
        <a href="{{ url_for('my_view.index')}}">Home</a>
        <a href="{{ url_for('my_view.menu')}}">Menu</a>
        <a href="{{ url_for('my_view.get_review')}}">Leave a Review</a>
    </nav>
    {% block content%}

    {% endblock%}
</body>
</html>